<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>'<%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved'</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class="col s1"></div>
    <fieldset class='col s7'>
      <legend>Register Now!</legend>
      <div class='row'>
        <div class='col s1'></div>
        <div class='input-field col s10'>
          <%= f.text_field :username, class: 'validate' %>
          <%= f.label :username, 'User name' %>
        </div>
      </div>
      <div class="row">
        <div class="col s1"></div>
        <div class="input-field col s10">
          <%= f.password_field :password, class: 'validate' %>
          <%= f.label :password, 'Password' %>
        </div>
      </div>
      <div class="row">
        <div class="col s1"></div>
        <div class="input-field col s10">
          <%= f.email_field :email, placeholder: 'example@gmail.com', class: 'validate' %>
          <%= f.label :email, 'E-mail' %>
        </div>
      </div>
      <div class="row">
        <div class="col s1"></div>
        <div class="input-field col s10">
          <%= f.button 'Create', class: ['waves-effect', 'waves-light', 'btn'] %>
        </div>
      </div>
    </fieldset>
  </div>
<% end %>
